body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url('https://www.online.colostate.edu/global/images/degrees/Computer-Engineering-1200.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

nav {
    background-color: #444444;
    border-radius: 10px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.9);
    padding: 25px;
    max-width: 300px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #5d5d5d;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1.7);
    transition: transform 0.2s ease;
}


@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

nav li {
    animation: slideIn 3s ease-out forwards;
}

a {
    text-decoration: none;
    color: #ff7272;
    margin-bottom: 10px;
}

button {
    background-color: #3b0fd7;
    color: rgb(177, 80, 80);
    padding: 5px 10px;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    font-size: 25px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 4);
}