body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #423e3e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    color: #1a1a1a;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

section {
    background-color: rgba(54, 54, 54, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.4s ease;
}

section:hover {
    transform: scale(1.02);
}

footer {
    background-color: #262323;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.image1 {
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 0 0 150px rgba(22, 112, 196, 0.5);
}

.img2 {
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 0 0 150px rgba(172, 20, 20, 0.5);
}

.img3 {
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 0 0 150px rgba(197, 120, 47, 0.5);
}

p {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #a39797;
}

body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

a {
    text-decoration: none;
}
